/* Efeito Web 3.0 */
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.mask-gradient {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

/* Scrollbar Personalizada Dark */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0f172a;
}
::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #06b6d4;
}

/* Animação suave para os cards */
.group:hover {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 40px rgba(6, 182, 212, 0.1);
}
